*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Password{
    padding: 20px;
    width: 300px;
    font-size: 1.2rem;
    border: 2px solid green;
    border-radius: 5px;

}
#Password:focus{
    outline: none;
}